.main-navbar-div{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.navbar-left-div{
    width:15rem;
}

.navbar-left-div img{
    width:100%;
    height: 100%;
    object-fit: contain ;
}

.navbar-right-div ul{
    display: flex;
    gap:2rem;
}

.navbar-right-div ul li{
    list-style: none;
}

.navbar-right-div ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}